cache:
  url: localhost
  #user:
  #pass:
  protocol: tcp
  port: 6379
apis: 
- name: "my_api"
  url: "https://api.com"
  path: "?query=${zip}&apikey=${apikey}"
  apiKey: #Will be replaced by ${api.name}_apikey from the env
  responseCityKey: results.0.city
  fallback: true
- name: "external_api"
  url: https://external-api.com
  path: /api/postal/${zip}
  responseCityKey: city